body {
  margin: 0;
  padding: 0;
  background-color: #5e5d5a;
  font-family: Roborto;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}

.left {
  flex: 1;
  order: 1;
  margin: 1em;
}

.right {
  flex: 1;
  order: 2;
  margin: 1em;
}

form {
  margin: 20px auto;
  position: relative;
  height: 30px;
}

input,
textarea,
select,
  {
  background-color: #5e5d5a;
  color: #e9e3d5;
}

html,
body,
button {
  color: #212127;
  background-color: #e9e3d5;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.side {
  flex: 1;
  order: 1;
  margin: 0;
  padding: 0;
  background: #404040;
  border-right: 2px solid #1c7c99;
}